{% extends 'base.html' %}

{% block content %}

<div class="card-custom">

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/reports/">Reports</a></li>
    <li class="breadcrumb-item active">Detail</li>
  </ol>
</nav>

    <h2 class="mb-4">Detail Laporan</h2>

    <p><b>Judul:</b> {{ report.title }}</p>
    <p><b>Kategori:</b> {{ report.category }}</p>
    <p><b>Deskripsi:</b> {{ report.description }}</p>
    <p><b>Lokasi:</b> {{ report.location }}</p>

    <p>
        <b>Status:</b>
        {% if report.status == "REPORTED" %}
            <span class="badge bg-danger">Reported</span>
        {% elif report.status == "VERIFIED" %}
            <span class="badge bg-warning text-dark">Verified</span>
        {% elif report.status == "IN_PROGRESS" %}
            <span class="badge bg-primary">In Progress</span>
        {% else %}
            <span class="badge bg-success">Resolved</span>
        {% endif %}
    </p>

    <a href="/reports/" class="btn btn-secondary mt-3">
        Kembali
    </a>

</div>

{% endblock %}